.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 30px;
}

.find-icons__icon span {
  margin-top: 10px;
}

.recommended-friends {
  margin: 20px 0;
  padding: 20px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5)
}

.recommended-friends span {
  margin: 100px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7)
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 20px;
}

.open-chat__header span {
  opacity: 0.6;
}