.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__notification {
  width: 5px;
  height: 5px;
  background-color: tomato;
  display: block;
  border-radius: 50%;
}

.screen-header__icons {
  position: relative;
}

.screen-notification {
  position: absolute;
  bottom: 20px;
  left: 95px;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 450;
}